# Pandas Tips

In [1]:
import pandas as pd

## Creating a Dataframe from a dictionary
The values of the dictionary need to be in a list, otherwise you'll get "ValueError: If using all scalar values, you must pass an index".

In [2]:
starting_dict = {'waiters': 1,  'i': 1, 'of': 1, 'if': 1, 'there': 1, 'was': 1, 'fine': 1, 'restaurant': 1, 'the': 3, 'experience': 1, 'best': 1, 
'recommend': 1, 'dining': 1, 'you': 1, 'experts': 1, 'to': 1, 'and': 1, 'want': 1, 'eating': 1, 'were': 1, 'fantastic': 1}

In [12]:
# convert the values from scalars to lists
modified_dict = {k:[v] for k,v in starting_dict.items()}
df = pd.DataFrame.from_dict(modified_dict, orient="index", columns=['base_count'])
df

            base_count
waiters              1
i                    1
of                   1
if                   1
there                1
was                  1
fine                 1
restaurant           1
the                  3
experience           1
best                 1
recommend            1
dining               1
you                  1
experts              1
to                   1
and                  1
want                 1
eating               1
were                 1
fantastic            1